#head
    height 100px
    #logo
        top 38px
    #search-box
    #menu1
        top 98px
#foot
    margin-left 0px
    width 1000px

#main
    border-bottom 0px none
#logo
    display block

.backFromGallery
    position absolute
    right 1px
    width 220px
    height 24px
    text-align center
    top 121px
    .closebtn
        position absolute
        top 0px
        left 3px
        width 23px
        height 23px
        background url('http://ihned.cz/img/11_0/galerie.png') no-repeat -104px -9px
    a
        position absolute
        top 4px
        right 0px
        color #2C6999
        display inline-block
    &:hover
        cursor pointer
        .closebtn
            background url('http://ihned.cz/img/11_0/galerie.png') no-repeat -9px -9px
        a
            text-decoration underline
#main
    a
        color #2C6999
        text-decoration underline
        &:hover
            text-decoration none
