@import ihnedWrap
@import Tooltip
@import colors
.tooltip
    h2
        font-size 1.2em
        margin 4px 0px 5px 0px
    h3
        font-size 1.1em
        margin 0px
    p
        margin 0px
oldColor = lighten(HNBlue, 30%)
newColor = darken(HNBlue, 50%)
svg
    .department
        rect.old
            fill oldColor
            &:hover
                outline 2px solid rgba(darken(oldColor, 80%), 0.5)
        rect.new
            fill newColor
            &:hover
                outline 2px solid rgba(lighten(newColor, 80%), 0.5)
    .yAxis
        .domain
            display none

.selector
    li
        cursor pointer
        &.active
            color red
