@import Tooltip
@import colors
.tooltip
    h3
        font-size 1.1em
        margin 0px
    p
        margin 0px
oldColor = HNBlue
newColor = darken(HNBlue, 50%)
svg
    .department
        rect.old
            fill oldColor
            &:hover
                outline 2px solid rgba(lighten(oldColor, 80%), 0.5)
        rect.new
            fill newColor
            &:hover
                outline 2px solid rgba(darken(newColor, 80%), 0.5)

.selector
    li
        cursor pointer
        &.active
            color red
