.tooltip {
  position: absolute;
  border: 1px solid #000;
  border-radius: 3px;
  max-width: 270px;
  background-color: #fff;
  padding: 5px 10px;
  margin-top: -20px;
  margin-left: -12px;
  box-shadow: #444 0px 0px 5px;
}
.tooltip p:only-child {
  margin: 0px;
}
.tooltip h3 {
  font-size: 1.1em;
  margin: 0px;
}
.tooltip p {
  margin: 0px;
}
svg .department rect.old {
  fill: #6b486b;
}
svg .department rect.old:hover {
  outline: 2px solid rgba(188,156,188,0.8);
}
svg .department rect.new {
  fill: #98abc5;
}
svg .department rect.new:hover {
  outline: 2px solid rgba(63,83,112,0.7);
}
