.tooltip {
  position: absolute;
  border: 1px solid #000;
  border-radius: 3px;
  max-width: 270px;
  background-color: #fff;
  padding: 5px 10px;
  margin-top: -20px;
  margin-left: -12px;
  box-shadow: #444 0px 0px 5px;
}
.tooltip p:only-child {
  margin: 0px;
}
.tooltip h2 {
  font-size: 1.2em;
  margin: 4px 0px 5px 0px;
}
.tooltip h3 {
  font-size: 1.1em;
  margin: 0px;
}
.tooltip p {
  margin: 0px;
}
svg .department rect.old {
  fill: #aad1ee;
}
svg .department rect.old:hover {
  outline: 2px solid rgba(14,45,68,0.5);
}
svg .department rect.new {
  fill: #1f6597;
}
svg .department rect.new:hover {
  outline: 2px solid rgba(201,226,244,0.5);
}
svg .yAxis .domain {
  display: none;
}
.selector li {
  cursor: pointer;
}
.selector li.active {
  color: #f00;
}
